@import 'src/variables.scss';

.logo {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-left: auto;
  padding: 15px;
  background: $color-red;
  order: 2;

  &__icon-wrap {
    background: white;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
    width: 30px;
    height: 30px; 
    
    
    @media screen and (min-width: $desktop) {
      width: 52px;
      height: 52px;
    }
  }
  
  &__icon {
    color: $color-red;
  }

  &__text {
    font-family: Arial, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    font-size: 18px;
  }

  &__text span {
    font-weight: normal;
  }

  @media screen and (min-width: $tablet) {
    width: 250px;
  }

  @media screen and (min-width: $desktop) {
    height: 75px;
    width: 455px;
    padding: 15px 55px 15px 135px;

    &__icon {
      padding: 10px;
      font-size: 52px;
    }

    &__text {
      font-size: 30px;
    }
  }
}